n8n/01-auth-signup.json
{
  "name": "Meeting Debrief - Auth Signup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "auth-signup"
    },
    {
      "parameters": {
        "jsCode": "// === Meeting Debrief: signup validation, hashing, token generation ===\n// Inputs come from the Webhook node. The body is at $json.body.\n// We use Node's built-in crypto (no extra npm needed).\nconst crypto = require('crypto');\n\nconst body = $input.first().json.body || {};\nconst headers = $input.first().json.headers || {};\n\nconst expectedSecret = $env.WEBHOOK_SECRET;\nif (expectedSecret && headers['x-webhook-secret'] !== expectedSecret) {\n  return [{ json: { ok: false, status: 401, error: 'unauthorized', message: 'Missing or invalid webhook secret' } }];\n}\n\nconst email = typeof body.email === 'string' ? body.email.trim().toLowerCase() : '';\nconst password = typeof body.password === 'string' ? body.password : '';\n\nconst emailOk = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\nif (!emailOk) {\n  return [{ json: { ok: false, status: 400, error: 'invalid_email', message: 'Please provide a valid email address.' } }];\n}\nif (password.length < 8) {\n  return [{ json: { ok: false, status: 400, error: 'weak_password', message: 'Password must be at least 8 characters.' } }];\n}\n\n// PBKDF2 password hashing — stdlib only, no bcrypt package required.\nconst salt = crypto.randomBytes(16).toString('hex');\nconst iterations = 100000;\nconst hash = crypto.pbkdf2Sync(password, salt, iterations, 64, 'sha512').toString('hex');\nconst passwordHash = `pbkdf2$${iterations}$${salt}$${hash}`;\n\n// 32-byte hex session token (64 chars)\nconst sessionToken = crypto.randomBytes(32).toString('hex');\nconst expiresAt = new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString();\n\nreturn [{\n  json: {\n    ok: true,\n    email,\n    passwordHash,\n    sessionToken,\n    expiresAt\n  }\n}];"
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000002",
      "name": "Validate & Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000003",
      "name": "Valid input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (email, password_hash)\nVALUES ($1, $2)\nON CONFLICT (email) DO NOTHING\nRETURNING id, email;",
        "options": {
          "queryReplacement": "={{ $json.email }},={{ $json.passwordHash }}"
        }
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000004",
      "name": "Insert User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 200],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000005",
      "name": "User created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (token, user_id, expires_at)\nVALUES ($1, $2, $3);",
        "options": {
          "queryReplacement": "={{ $('Validate & Hash').item.json.sessionToken }},={{ $json.id }},={{ $('Validate & Hash').item.json.expiresAt }}"
        }
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000006",
      "name": "Insert Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1400, 100],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"sessionToken\": \"{{ $('Validate & Hash').item.json.sessionToken }}\",\n  \"expiresAt\": \"{{ $('Validate & Hash').item.json.expiresAt }}\",\n  \"user\": {\n    \"id\": \"{{ $('Insert User').item.json.id }}\",\n    \"email\": \"{{ $('Insert User').item.json.email }}\"\n  }\n}",
        "options": { "responseCode": 200 }
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000007",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1640, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"email_taken\", \"message\": \"An account with this email already exists.\" }",
        "options": { "responseCode": 409 }
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000008",
      "name": "Respond Email Taken",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"{{ $json.error }}\", \"message\": \"{{ $json.message }}\" }",
        "options": { "responseCode": "={{ $json.status }}" }
      },
      "id": "f1a1a1a1-0001-0001-0001-000000000009",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 440]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate & Hash", "type": "main", "index": 0 }]]
    },
    "Validate & Hash": {
      "main": [[{ "node": "Valid input?", "type": "main", "index": 0 }]]
    },
    "Valid input?": {
      "main": [
        [{ "node": "Insert User", "type": "main", "index": 0 }],
        [{ "node": "Respond Validation Error", "type": "main", "index": 0 }]
      ]
    },
    "Insert User": {
      "main": [[{ "node": "User created?", "type": "main", "index": 0 }]]
    },
    "User created?": {
      "main": [
        [{ "node": "Insert Session", "type": "main", "index": 0 }],
        [{ "node": "Respond Email Taken", "type": "main", "index": 0 }]
      ]
    },
    "Insert Session": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
