n8n/02-auth-login.json
{
  "name": "Meeting Debrief - Auth Login",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "auth-login"
    },
    {
      "parameters": {
        "jsCode": "// === Meeting Debrief: login input validation ===\nconst body = $input.first().json.body || {};\n\nconst email = typeof body.email === 'string' ? body.email.trim().toLowerCase() : '';\nconst password = typeof body.password === 'string' ? body.password : '';\n\nif (!email || !password) {\n  return [{ json: { ok: false, status: 401, error: 'invalid_credentials', message: 'Invalid email or password.' } }];\n}\n\nreturn [{ json: { ok: true, email, password } }];"
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000003",
      "name": "Valid input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, password_hash\nFROM users\nWHERE email = $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.email }}"
        }
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000004",
      "name": "Find User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 200],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === Meeting Debrief: verify password & generate session ===\nconst crypto = require('crypto');\n\nconst userRow = $input.first().json;\nconst password = $('Validate Input').item.json.password;\n\n// Generic error response (no leaking which part failed).\nconst genericError = { ok: false, status: 401, error: 'invalid_credentials', message: 'Invalid email or password.' };\n\n// User not found?\nif (!userRow || !userRow.id) {\n  return [{ json: genericError }];\n}\n\n// Parse stored hash: pbkdf2$iterations$salt$hash\nconst parts = (userRow.password_hash || '').split('$');\nif (parts.length !== 4 || parts[0] !== 'pbkdf2') {\n  return [{ json: genericError }];\n}\nconst iterations = parseInt(parts[1], 10);\nconst salt = parts[2];\nconst storedHash = parts[3];\n\n// Recompute hash with same salt + iterations.\nconst computedHash = crypto.pbkdf2Sync(password, salt, iterations, 64, 'sha512').toString('hex');\n\n// Constant-time compare.\nconst a = Buffer.from(computedHash, 'hex');\nconst b = Buffer.from(storedHash, 'hex');\nconst match = a.length === b.length && crypto.timingSafeEqual(a, b);\n\nif (!match) {\n  return [{ json: genericError }];\n}\n\n// Success — generate session token.\nconst sessionToken = crypto.randomBytes(32).toString('hex');\nconst expiresAt = new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString();\n\nreturn [{\n  json: {\n    ok: true,\n    userId: userRow.id,\n    email: userRow.email,\n    sessionToken,\n    expiresAt\n  }\n}];"
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000005",
      "name": "Verify Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-2",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000006",
      "name": "Password OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (token, user_id, expires_at)\nVALUES ($1, $2, $3);",
        "options": {
          "queryReplacement": "={{ $json.sessionToken }},={{ $json.userId }},={{ $json.expiresAt }}"
        }
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000007",
      "name": "Insert Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1640, 100],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"sessionToken\": \"{{ $('Verify Password').item.json.sessionToken }}\",\n  \"expiresAt\": \"{{ $('Verify Password').item.json.expiresAt }}\",\n  \"user\": {\n    \"id\": \"{{ $('Verify Password').item.json.userId }}\",\n    \"email\": \"{{ $('Verify Password').item.json.email }}\"\n  }\n}",
        "options": { "responseCode": 200 }
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000008",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1880, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"invalid_credentials\", \"message\": \"Invalid email or password.\" }",
        "options": { "responseCode": 401 }
      },
      "id": "f2a2a2a2-0002-0002-0002-000000000009",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1640, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Valid input?", "type": "main", "index": 0 }]]
    },
    "Valid input?": {
      "main": [
        [{ "node": "Find User", "type": "main", "index": 0 }],
        [{ "node": "Respond Invalid", "type": "main", "index": 0 }]
      ]
    },
    "Find User": {
      "main": [[{ "node": "Verify Password", "type": "main", "index": 0 }]]
    },
    "Verify Password": {
      "main": [[{ "node": "Password OK?", "type": "main", "index": 0 }]]
    },
    "Password OK?": {
      "main": [
        [{ "node": "Insert Session", "type": "main", "index": 0 }],
        [{ "node": "Respond Invalid", "type": "main", "index": 0 }]
      ]
    },
    "Insert Session": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
