n8n/05-debrief.json
{
  "name": "Meeting Debrief - Debrief",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "debrief",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400],
      "webhookId": "debrief"
    },
    {
      "parameters": {
        "jsCode": "// === Extract session token from Authorization header ===\nconst headers = $input.first().json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\n\nconst match = /^Bearer\\s+([a-f0-9]{64})$/i.exec(authHeader);\nif (!match) {\n  return [{ json: { ok: false } }];\n}\n\nreturn [{ json: { ok: true, token: match[1] } }];"
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000002",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000003",
      "name": "Token present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id\nFROM sessions s\nJOIN users u ON u.id = s.user_id\nWHERE s.token = $1 AND s.expires_at > now()\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.token }}"
        }
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000004",
      "name": "Lookup Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000005",
      "name": "Session valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// === Validate transcript input ===\nconst body = $('Webhook').first().json.body || {};\nconst transcript = typeof body.transcript === 'string' ? body.transcript.trim() : '';\n\nif (transcript.length < 50) {\n  return [{ json: { ok: false, status: 400, error: 'transcript_too_short', message: 'Transcript must be at least 50 characters.' } }];\n}\nif (transcript.length > 50000) {\n  return [{ json: { ok: false, status: 400, error: 'transcript_too_long', message: 'Transcript must be under 50,000 characters.' } }];\n}\n\nreturn [{ json: { ok: true, transcript } }];"
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000006",
      "name": "Validate Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000007",
      "name": "Transcript valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI assistant that converts meeting transcripts into structured debriefs. Rules:\\n- NEVER invent people. If an owner of an action item is not clearly mentioned by name in the transcript, set owner to null.\\n- Extract action items even from implicit commitments (e.g. 'I will look into that').\\n- The follow-up email is written from the meeting attendee's first-person perspective, addressed to the other participants, ~120-180 words, professional tone, no signature placeholder. It should confirm what was decided and list what happens next.\\n- The summary is 2-3 sentences capturing the essence of the meeting.\\n- If the input clearly is not a meeting (too short to extract anything meaningful, unrelated text like a recipe or poem), set isValidMeeting to false and return empty strings/arrays for the other fields.\\n- meetingDate should be an ISO date (YYYY-MM-DD) if mentioned in the transcript, otherwise null.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.transcript) }}\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"name\": \"meeting_debrief\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"isValidMeeting\": { \"type\": \"boolean\" },\n          \"title\": { \"type\": [\"string\", \"null\"] },\n          \"meetingDate\": { \"type\": [\"string\", \"null\"] },\n          \"summary\": { \"type\": [\"string\", \"null\"] },\n          \"participants\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"decisions\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"actionItems\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"text\": { \"type\": \"string\" },\n                \"owner\": { \"type\": [\"string\", \"null\"] }\n              },\n              \"required\": [\"text\", \"owner\"],\n              \"additionalProperties\": false\n            }\n          },\n          \"blockers\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"followupEmail\": { \"type\": [\"string\", \"null\"] }\n        },\n        \"required\": [\"isValidMeeting\", \"title\", \"meetingDate\", \"summary\", \"participants\", \"decisions\", \"actionItems\", \"blockers\", \"followupEmail\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"temperature\": 0.2\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000008",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// === Parse OpenAI response & extract structured draft ===\nconst response = $input.first().json;\n\ntry {\n  const choice = response.choices && response.choices[0];\n  if (!choice || !choice.message || !choice.message.content) {\n    return [{ json: { ok: false, status: 502, error: 'llm_failed', message: 'OpenAI returned no content.' } }];\n  }\n\n  const draft = JSON.parse(choice.message.content);\n\n  if (draft.isValidMeeting === false) {\n    return [{\n      json: {\n        ok: true,\n        isValidMeeting: false,\n        message: \"This doesn't look like a meeting transcript. Try pasting longer notes or a transcript with more context.\"\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      ok: true,\n      isValidMeeting: true,\n      draft: {\n        title: draft.title || 'Untitled Meeting',\n        meetingDate: draft.meetingDate,\n        summary: draft.summary || '',\n        participants: draft.participants || [],\n        decisions: draft.decisions || [],\n        actionItems: draft.actionItems || [],\n        blockers: draft.blockers || [],\n        followupEmail: draft.followupEmail || ''\n      }\n    }\n  }];\n} catch (err) {\n  return [{ json: { ok: false, status: 502, error: 'llm_failed', message: 'Failed to parse OpenAI response: ' + err.message } }];\n}"
      },
      "id": "f5a5a5a5-0005-0005-0005-000000000009",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ isValidMeeting: $json.isValidMeeting, draft: $json.draft, message: $json.message }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "f5a5a5a5-0005-0005-0005-00000000000a",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1900, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"llm_failed\", \"message\": \"The AI service failed. Please try again.\" }",
        "options": { "responseCode": 502 }
      },
      "id": "f5a5a5a5-0005-0005-0005-00000000000b",
      "name": "Respond LLM Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"{{ $json.error }}\", \"message\": \"{{ $json.message }}\" }",
        "options": { "responseCode": "={{ $json.status }}" }
      },
      "id": "f5a5a5a5-0005-0005-0005-00000000000c",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"invalid_session\", \"message\": \"Session is missing, invalid, or expired.\" }",
        "options": { "responseCode": 401 }
      },
      "id": "f5a5a5a5-0005-0005-0005-00000000000d",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 540]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract Token", "type": "main", "index": 0 }]]
    },
    "Extract Token": {
      "main": [[{ "node": "Token present?", "type": "main", "index": 0 }]]
    },
    "Token present?": {
      "main": [
        [{ "node": "Lookup Session", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Session": {
      "main": [[{ "node": "Session valid?", "type": "main", "index": 0 }]]
    },
    "Session valid?": {
      "main": [
        [{ "node": "Validate Transcript", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Validate Transcript": {
      "main": [[{ "node": "Transcript valid?", "type": "main", "index": 0 }]]
    },
    "Transcript valid?": {
      "main": [
        [{ "node": "Call OpenAI", "type": "main", "index": 0 }],
        [{ "node": "Respond Validation Error", "type": "main", "index": 0 }]
      ]
    },
    "Call OpenAI": {
      "main": [
        [{ "node": "Parse Response", "type": "main", "index": 0 }],
        [{ "node": "Respond LLM Failed", "type": "main", "index": 0 }]
      ]
    },
    "Parse Response": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
