n8n/07-meetings-list.json
{
  "name": "Meeting Debrief - Meetings List",
  "nodes": [
    {
      "parameters": { "httpMethod": "GET", "path": "meetings", "responseMode": "responseNode", "options": {} },
      "id": "f7000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "meetings-list"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst match = /^Bearer\\s+([a-f0-9]{64})$/i.exec(authHeader);\nif (!match) return [{ json: { ok: false } }];\nreturn [{ json: { ok: true, token: match[1] } }];"
      },
      "id": "f7000001-0000-0000-0000-000000000002",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "c1", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" },
        "options": {}
      },
      "id": "f7000001-0000-0000-0000-000000000003",
      "name": "Token present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id FROM sessions s JOIN users u ON u.id = s.user_id WHERE s.token = $1 AND s.expires_at > now() LIMIT 1;",
        "options": { "queryReplacement": "={{ $json.token }}" }
      },
      "id": "f7000001-0000-0000-0000-000000000004",
      "name": "Lookup Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 200],
      "credentials": { "postgres": { "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID", "name": "Supabase Postgres" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "c2", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }], "combinator": "and" },
        "options": {}
      },
      "id": "f7000001-0000-0000-0000-000000000005",
      "name": "Session valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const query = $('Webhook').first().json.query || {};\nconst userId = $input.first().json.id;\nconst q = (query.q || '').trim();\nconst qParam = q || '~~NOSEARCH~~';\nconst limit = Math.min(parseInt(query.limit) || 50, 200);\nconst offset = Math.max(parseInt(query.offset) || 0, 0);\nreturn [{ json: { userId, qParam, q, limit, offset } }];"
      },
      "id": "f7000001-0000-0000-0000-000000000006",
      "name": "Parse Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.id, m.title, m.meeting_date AS \"meetingDate\",\n  COALESCE(substring(m.summary, 1, 140), '') AS \"summaryPreview\",\n  m.created_at AS \"createdAt\",\n  COUNT(ai.id) FILTER (WHERE ai.is_done = false) AS \"openActionItemsCount\"\nFROM meetings m\nLEFT JOIN action_items ai ON ai.meeting_id = m.id\nWHERE m.user_id = $1::uuid\n  AND ($2 = '~~NOSEARCH~~' OR m.search_vector @@ plainto_tsquery('simple', $2))\nGROUP BY m.id\nORDER BY\n  CASE WHEN $2 != '~~NOSEARCH~~' THEN ts_rank(m.search_vector, plainto_tsquery('simple', $2)) END DESC NULLS LAST,\n  m.created_at DESC\nLIMIT $3::int OFFSET $4::int;",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ $json.qParam }},={{ $json.limit }},={{ $json.offset }}"
        }
      },
      "id": "f7000001-0000-0000-0000-000000000007",
      "name": "Query Meetings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 100],
      "credentials": { "postgres": { "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID", "name": "Supabase Postgres" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst meetings = items.map(i => i.json).filter(m => m && m.id).map(m => ({\n  id: m.id,\n  title: m.title,\n  meetingDate: m.meetingDate,\n  summaryPreview: m.summaryPreview,\n  createdAt: m.createdAt,\n  openActionItemsCount: Number(m.openActionItemsCount) || 0\n}));\nreturn [{ json: { meetings, total: meetings.length } }];"
      },
      "id": "f7000001-0000-0000-0000-000000000008",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ meetings: $json.meetings, total: $json.total }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "f7000001-0000-0000-0000-000000000009",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"invalid_session\", \"message\": \"Session is missing, invalid, or expired.\" }",
        "options": { "responseCode": 401 }
      },
      "id": "f7000001-0000-0000-0000-00000000000a",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 440]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Token", "type": "main", "index": 0 }]] },
    "Extract Token": { "main": [[{ "node": "Token present?", "type": "main", "index": 0 }]] },
    "Token present?": { "main": [[{ "node": "Lookup Session", "type": "main", "index": 0 }], [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]] },
    "Lookup Session": { "main": [[{ "node": "Session valid?", "type": "main", "index": 0 }]] },
    "Session valid?": { "main": [[{ "node": "Parse Query", "type": "main", "index": 0 }], [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]] },
    "Parse Query": { "main": [[{ "node": "Query Meetings", "type": "main", "index": 0 }]] },
    "Query Meetings": { "main": [[{ "node": "Shape Response", "type": "main", "index": 0 }]] },
    "Shape Response": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
