n8n/08-meetings-get.json
{
  "name": "Meeting Debrief - Meetings Get",
  "nodes": [
    {
      "parameters": { "httpMethod": "GET", "path": "meetings/:id", "responseMode": "responseNode", "options": {} },
      "id": "f8000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "meetings-get"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst match = /^Bearer\\s+([a-f0-9]{64})$/i.exec(authHeader);\nif (!match) return [{ json: { ok: false } }];\nreturn [{ json: { ok: true, token: match[1] } }];"
      },
      "id": "f8000001-0000-0000-0000-000000000002",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "c1", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" },
        "options": {}
      },
      "id": "f8000001-0000-0000-0000-000000000003",
      "name": "Token present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id FROM sessions s JOIN users u ON u.id = s.user_id WHERE s.token = $1 AND s.expires_at > now() LIMIT 1;",
        "options": { "queryReplacement": "={{ $json.token }}" }
      },
      "id": "f8000001-0000-0000-0000-000000000004",
      "name": "Lookup Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 200],
      "credentials": { "postgres": { "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID", "name": "Supabase Postgres" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "c2", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }], "combinator": "and" },
        "options": {}
      },
      "id": "f8000001-0000-0000-0000-000000000005",
      "name": "Session valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const params = $('Webhook').first().json.params || {};\nconst userId = $input.first().json.id;\nconst meetingId = params.id || '';\nif (!/^[0-9a-f-]{36}$/i.test(meetingId)) return [{ json: { ok: false } }];\nreturn [{ json: { ok: true, userId, meetingId } }];"
      },
      "id": "f8000001-0000-0000-0000-000000000006",
      "name": "Parse Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "c3", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" },
        "options": {}
      },
      "id": "f8000001-0000-0000-0000-000000000007",
      "name": "Params valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  m.id, m.title, m.meeting_date as \"meetingDate\", m.summary, m.transcript,\n  m.participants, m.decisions, m.blockers, m.followup_email as \"followupEmail\",\n  m.created_at as \"createdAt\",\n  COALESCE((\n    SELECT json_agg(json_build_object(\n      'id', ai.id, 'text', ai.text, 'owner', ai.owner,\n      'isDone', ai.is_done, 'completedAt', ai.completed_at, 'position', ai.position\n    ) ORDER BY ai.position, ai.created_at)\n    FROM action_items ai WHERE ai.meeting_id = m.id\n  ), '[]'::json) as \"actionItems\"\nFROM meetings m\nWHERE m.id = $1::uuid AND m.user_id = $2::uuid\nLIMIT 1;",
        "options": { "queryReplacement": "={{ $json.meetingId }},={{ $json.userId }}" }
      },
      "id": "f8000001-0000-0000-0000-000000000008",
      "name": "Query Meeting",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1500, 100],
      "credentials": { "postgres": { "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID", "name": "Supabase Postgres" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "c4", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }], "combinator": "and" },
        "options": {}
      },
      "id": "f8000001-0000-0000-0000-000000000009",
      "name": "Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1700, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ meeting: $json }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "f8000001-0000-0000-0000-00000000000a",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1900, 50]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"not_found\", \"message\": \"Meeting not found.\" }",
        "options": { "responseCode": 404 }
      },
      "id": "f8000001-0000-0000-0000-00000000000b",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"invalid_session\", \"message\": \"Session is missing, invalid, or expired.\" }",
        "options": { "responseCode": 401 }
      },
      "id": "f8000001-0000-0000-0000-00000000000c",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 440]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Token", "type": "main", "index": 0 }]] },
    "Extract Token": { "main": [[{ "node": "Token present?", "type": "main", "index": 0 }]] },
    "Token present?": { "main": [[{ "node": "Lookup Session", "type": "main", "index": 0 }], [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]] },
    "Lookup Session": { "main": [[{ "node": "Session valid?", "type": "main", "index": 0 }]] },
    "Session valid?": { "main": [[{ "node": "Parse Params", "type": "main", "index": 0 }], [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]] },
    "Parse Params": { "main": [[{ "node": "Params valid?", "type": "main", "index": 0 }]] },
    "Params valid?": { "main": [[{ "node": "Query Meeting", "type": "main", "index": 0 }], [{ "node": "Respond Not Found", "type": "main", "index": 0 }]] },
    "Query Meeting": { "main": [[{ "node": "Found?", "type": "main", "index": 0 }]] },
    "Found?": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }], [{ "node": "Respond Not Found", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
