n8n/14-action-items-open.json
{
  "name": "Meeting Debrief - Action Items Open",
  "nodes": [
    {
      "parameters": { "httpMethod": "GET", "path": "action-items/open", "responseMode": "responseNode", "options": {} },
      "id": "fe000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "action-items-open"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst match = /^Bearer\\s+([a-f0-9]{64})$/i.exec(authHeader);\nif (!match) return [{ json: { ok: false } }];\nreturn [{ json: { ok: true, token: match[1] } }];"
      },
      "id": "fe000001-0000-0000-0000-000000000002",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "c1", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" },
        "options": {}
      },
      "id": "fe000001-0000-0000-0000-000000000003",
      "name": "Token present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id FROM sessions s JOIN users u ON u.id = s.user_id WHERE s.token = $1 AND s.expires_at > now() LIMIT 1;",
        "options": { "queryReplacement": "={{ $json.token }}" }
      },
      "id": "fe000001-0000-0000-0000-000000000004",
      "name": "Lookup Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 200],
      "credentials": { "postgres": { "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID", "name": "Supabase Postgres" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "c2", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }], "combinator": "and" },
        "options": {}
      },
      "id": "fe000001-0000-0000-0000-000000000005",
      "name": "Session valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ai.id, ai.text, ai.owner, ai.created_at as \"createdAt\",\n  json_build_object('id', m.id, 'title', m.title, 'meetingDate', m.meeting_date) as meeting\nFROM action_items ai\nJOIN meetings m ON m.id = ai.meeting_id\nWHERE ai.user_id = $1::uuid AND ai.is_done = false\nORDER BY ai.created_at ASC;",
        "options": { "queryReplacement": "={{ $json.id }}" }
      },
      "id": "fe000001-0000-0000-0000-000000000006",
      "name": "Query Open Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 100],
      "credentials": { "postgres": { "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID", "name": "Supabase Postgres" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json).filter(j => j && j.id);\nreturn [{ json: { items } }];"
      },
      "id": "fe000001-0000-0000-0000-000000000007",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ items: $json.items }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "fe000001-0000-0000-0000-000000000008",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"invalid_session\", \"message\": \"Session is missing, invalid, or expired.\" }",
        "options": { "responseCode": 401 }
      },
      "id": "fe000001-0000-0000-0000-000000000009",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 440]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Token", "type": "main", "index": 0 }]] },
    "Extract Token": { "main": [[{ "node": "Token present?", "type": "main", "index": 0 }]] },
    "Token present?": { "main": [[{ "node": "Lookup Session", "type": "main", "index": 0 }], [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]] },
    "Lookup Session": { "main": [[{ "node": "Session valid?", "type": "main", "index": 0 }]] },
    "Session valid?": { "main": [[{ "node": "Query Open Items", "type": "main", "index": 0 }], [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]] },
    "Query Open Items": { "main": [[{ "node": "Shape Response", "type": "main", "index": 0 }]] },
    "Shape Response": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
